*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


main {
    max-width: 640px;
    margin: 0 auto 64px;
    padding: 24px;
}


#acertos {
    text-align: center;
    background-color: #a3e635;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    padding: 12px;
}